<div ng-controller="WSCtrl" class="fill-dock core-flex-all-vertical" style="padding: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group" style="margin-bottom: 10px;">
                <input ng-model="getUrl" type="text" class="form-control" placeholder="Type here for [GET] service">
                <span class="input-group-btn">
                <button ng-click="onGET()" class="btn btn-default" type="button">GET</button>
              </span>
            </div>
        </div>
        <pre>GET URl = <span ng-bind="WS_URL+getUrl"></span></pre>
        <div class="col-xs-12">
            <div class="input-group" style="margin-bottom: 10px;">
                <input ng-model="postUrl" type="text" class="form-control" placeholder="Type here for [POST] service">
                <span class="input-group-btn">
                <button ng-click="onPOST()" class="btn btn-default" type="button">POST</button>
              </span>
            </div>
        </div>
        <pre>POST URl = <span ng-bind="WS_URL+postUrl"></span></pre>
    </div>
    <!-- SHOW DATA FROM SERVICE -->
    <div ng-repeat="inspector in _inspectorData">
        <div ng-repeat="(key, value) in inspector">
            {{key}} : {{value}}
        </div>
    </div>
    <!-- END OF SHOW DATA FROM SERVICE -->
    
    <!-- SYNC DATA FROM SERVICE PART -->
    <button ng-click="onSyncData()" type="button" class="btn btn-info" style="margin-bottom: 10px;">Sync Data</button>
    <!-- END OF SYNC DATA FROM SERVICE PART -->
    
    <!-- RENDER DATA THAT'S SYNCED FROM SERVICE -->
    <label>Total Records : {{_syncData.length}} </label>
    <!-- END RENDER DATA THAT'S SYNCED FROM SERVICE -->
    
    <!-- RENDER DATA FROM TABLE [* PROJECT] -->
    <button ng-click="onRenderData()" type="button" class="btn btn-success" style="margin-bottom: 10px;">Render Data</button>
    <!-- END RENDER DATA FROM TABLE [* PROJECT] -->
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Customer</th>
                    <th>Description</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="_proectData in _syncData">
                    <td>{{_proectData.Code}}</td>
                    <td>{{_proectData.Customer}}</td>
                    <td>{{_proectData.Description}}</td>
                    <td>{{_proectData.ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END OF RENDER DATA THAT'S SYNCED FROM SERVICE -->
</div>
