<div id="project-view" class="fill-dock core-flex-all-vertical" style="padding: 10px;">

    <h1 class="header">Choose Project</h1>

    <div class="list-group">
        <div ng-click="onProjectData(projectData)" ng-repeat="projectData in _projectResults" class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">{{projectData.Description}}</h4>
                <p class="list-group-item-text">Select and proceed.</p>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>